.app-tabs {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
  }

  &__button {
    &.active {
      background-color: coral;
    }
  }
  &__content {
    margin-top: 10px;

    & > *:not(.active) {
      display: none;
    }
  }
}
